@page "/"
@using Biblioteca.Components.Layout
    <PageTitle>Biblioteca</PageTitle>
<head>
    <link href="PaginaInicial.css" rel="stylesheet" />
</head>
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            
            </div>

        <article class="content px-4">
            <h1>Bem-vindo à Biblioteca!</h1>
        </article>
    </main>
</div>
@code {
    
}