@page "/weather"
@using ApiBiblioteca.Models
@using WebAppBiblioteca.DataBase.Services
@inject HttpClient Http
@inject LivroService LivroService

<h3>Lista de Livros</h3>

<ul>
    @foreach (var livro in livros)
    {
        <li>@livro.Titulo por @livro.AutoresLivro</li>
    }
</ul>

<h3>Adicionar Livro</h3>
<input type="text" @bind="novoLivro.Titulo" placeholder="Título" />
<input type="text" @bind="novoLivro.AutoresLivro" placeholder="Autor" />
<button @onclick="AdicionarLivro">Adicionar</button>

@code {
    private List<Livro> livros;
    private Livro novoLivro = new Livro();

    protected override async Task OnInitializedAsync()
    {
        livros = await LivroService.GetLivrosAsync();
    }

    private async Task AdicionarLivro()
    {
        await LivroService.AddLivroAsync(novoLivro);
        livros = await LivroService.GetLivrosAsync(); // Atualiza a lista
        novoLivro = new Livro(); // Limpa o formulário
    }
}
