.page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}
.page h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.page main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page a{
    margin-top: 1rem;
    padding: 0.5rem 3rem;
    font-size: 1.5rem;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
.page a:hover{
    background-color: #0056b3;
}   